<!DOCTYPE html>
<html>
  <head>
    <title>produtos</title>
    <link rel='stylesheet' href='/stylesheets/reset.css' />
    <link rel='stylesheet' href='/stylesheets/products.css' />
  </head>
  <body>
    <div class="home-container">
      <ul class="home-products" id="home-list-products">
        
          <li>
            <img src='' alt=''/>
            <strong>{product.title}</strong>
            <span>{product.formatPrice}</span>
            <button
              type="button"
              onclick=''
            >
              <div>
                <div>Icon Cart</div>
                {amount[product.id] || 0}
              </div>
              <span>ADICIONAR AO CARRINHO</span>
            </button>
          </li>
      </ul>
  </div>
  </body>
</html>
